[push]
	default = simple
[commit]
	verbose = true

# Include local file that shoudn't be replicated between servers
[include]
  path = ~/themes.gitconfig

[core]
  pager = delta --dark
	excludesfile = /Users/dimfeld/.gitignore_global

#[diff]
  #external = difft
  #colorMoved = default
  #tool = difftastic

#[difftool]
#  prompt = false
#[difftool "difftastic"]
#  cmd = difft "$LOCAL" "$REMOTE"
#[pager]
#  difftool = true


[delta]
  features = line-numbers gruvbox-dark relative-paths

; [url "ssh://git@github.com/"]
;     insteadOf = https://github.com/
[pull]
	rebase = false
	ff = only
[user]
	name = Daniel Imfeld
	email = daniel@imfeld.dev
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[merge]
	conflictStyle = zdiff3
[diff "lockb"]
	textconv = bun
	binary = true
[rebase]
	updateRefs = true

[include]
  path = ~/.gitconfig.local
