[user]
name = "Daniel Imfeld"
email = "daniel@imfeld.dev"

[ui]
pager = "delta"
# diff.tool = "delta"
diff-formatter = ":git"
default-command = "log"
diff-editor = ":builtin"
merge-editor = "diffconflicts"

[colors]
# change_id = "cyan"
# bookmark = "yellow"
# bookmarks = "yellow"
# local_bookmarks = "yellow"
# remote_bookmarks = "yellow"

[aliases]
lt = ['log', '-r', 'ancestors(@)']
ls = ['log', '-n', '20']
lst = ['log', '-n', '20', '-r', 'this']
bm = ['bookmark', 'move']
bc = ['bookmark', 'create']

z = ["fuzzy_bookmark"]
za = ["bookmark", "list", "-a"]
fuzzy_bookmark = ["util", "exec", "--", "sh", "-c", """
if [ "x$1" = "x" ]; then
  jj bookmark list
else
  jj bookmark list -a -T 'separate("@", name, remote) ++ "\n"' 2> /dev/null | sort | uniq | fzf -f "$1" | head -n1 | xargs jj new
fi
""", ""]

[revset-aliases]
this = "ancestors(@)"
"branch(name)" = "(ancestors(name) | children(name)) ~ ancestors(main)"
"b(name)" = "branch(name)"
branch = "branch(@)"
"stacked(name)" = "name:: ~ name"
"s(name)" = "stacked(name)"
stacked = "stacked(@)"

[templates]
draft_commit_description = '''
concat(
  description,
  surround(
    "\nJJ: This commit contains the following changes:\n", "",
    indent("JJ:     ", diff.stat(72)),
  ),
  "\nJJ: ignore-rest\n",
  diff.git(),
)
'''

log_json_stream = '''
  "{" ++
    "change_id".escape_json() ++ ": " ++ stringify(change_id).escape_json() ++ ", " ++
    "author".escape_json() ++ ": " ++ stringify(author).escape_json() ++
  "}\n"
'''

[merge-tools.diffconflicts]
program = "nvim"
merge-args = [
    "-c", "let g:jj_diffconflicts_marker_length=$marker_length",
    "-c", "JJDiffConflicts!", "$output", "$base", "$left", "$right",
]
merge-tool-edits-conflict-markers = true

